*{
    margin:0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 241, 241);
}
input{
    font-size: 30px;
    border: 2px solid black;
    background-color: rgb(31, 75, 105);
    font-weight: 600;
    padding: 30px;
    color:yellow;

}